{% extends "base.html" %}

{% block title %}
  Education for fun
{% endblock title %}

{% block content %}
 <div id="header">
   <h1>Welcome to the DukEducation</h1>
 </div>
 <div class="greeting">
  <p>Here you can learn a lot about all kinds of subjects. You can check
  available courses
  <a href="{% url 'courses:course_list' %}">here.</a>
  {% if request.user.is_anonymous %}
    Maybe you want to <a href="{% url 'students:signup' %}">
    register new account</a>
  {% endif %}</p>
  
 </div>
{% endblock content %}
